version: '3'
services:
  kafka-simulator:
    image: odedl/kafka-producer-simulator:latest
    volumes:
      - ./template:/var/src/template
    environment:
      - KAFKA_BOOTSTRAP_SERVER=kafka1:19092
      - KAFKA_TOPIC=events
      - NUM_EVENTS_PER_SECOND=1
      - DELAY_START_SEC=20
    networks:
      - app-network
  zoo:
    image: zookeeper:3.4.9
    hostname: zoo
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_PORT: 2181
    volumes:
      - ./zk-single-kafka-multiple/zoo/data:/data
      - ./zk-single-kafka-multiple/zoo/datalog:/datalog
    networks:
      - app-network
  kafka1:
    image: confluentinc/cp-kafka:5.2.1
    hostname: kafka1
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka1:19092,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zoo:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
    volumes:
      - ./zk-single-kafka-multiple/kafka1/data:/var/lib/kafka/data
    depends_on:
      - zoo
    networks:
      - app-network
  plarium_stats:
    container_name: stats
    image: tshaiman/plarium-stats:1.0
    depends_on:
      - kafka1
    ports:
      - "8080:8080"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge